
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans, sans-serif';
}

.navbar{
    background-color: bisque;
    
}
.navbar-brand{
   font-size: 1.9rem !important;
   color: rgb(106, 187, 52) !important;
   font-weight: bolder;
   /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
    
}
.menu_active{
    font-weight: bold;
    border-bottom: 1px solid #565387;
}
.navbar a:hover{
    color: blueviolet !important;
}
@media(max-width:991px){
    .navbar-brand{
        font-size: 1.5rem !important;
    }
}
.menu_active{
    font-weight: bold;
    border-bottom: none;
}